@charset "utf-8";

@import "8v.scss";
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");


body {
  @include text-size-adjust;
  margin: 0px;
  padding: 0px;
  font-family: $serif-font-family;
  font-feature-settings: "palt" 1, "pkna" 1;
  line-height: 1;
  background: $main-background;
  background-attachment: fixed;
}


div.main {
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  border: 1px transparent solid;
  background: $main-background;
  background-attachment: fixed;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  div.header {
    width: $main-width;
    margin: 100px auto 0px auto;
    padding: 0px;
  }

  div.header div.title {
    margin: 0px;
    padding: 0px;
    font-family: $special-font-family;
    font-size: 120px;
    color: $title-color;
    filter: $title-filter;
  }

  div.header div.caption {
    margin: 20px 0px 0px 0px;
    padding: 0px;
    font-family: $gilit-font-family;
    font-size: 30px;
    color: $caption-color;
  }

  div.header div.caption span {
    display: inline-block;
  }

  div.card-wrapper {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  div.card {
    width: $main-width;
    margin: 0px auto 0px auto;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
  }

  div.card div.item {
    margin: 0px;
    padding: 0px;
    border-radius: $card-border-radius;
    filter: $box-filter;
  }

  div.card div.item:hover {
    cursor: pointer;
  }

  div.card div.item#course {
    grid-row: 1;
    grid-column: 1;
  }

  div.card div.item#database {
    grid-row: 2;
    grid-column: 1;
  }

  div.card div.item#translation {
    grid-row: 1;
    grid-column: 2;
  }

  div.card div.item#work {
    grid-row: 2;
    grid-column: 2;
  }

  div.card div.item#theory {
    grid-row: 1;
    grid-column: 3;
  }

  div.card div.item#diary {
    grid-row: 2;
    grid-column: 3;
  }

  div.card div.item div.title {
    height: $card-header-height;
    margin: 0px;
    padding: 0px 25px;
    border-radius: $card-border-radius $card-border-radius 0px 0px;
    background-color: $card-header-background-color;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    transition: background-color 0.2s ease-in-out;
  }

  div.card div.item:hover div.title {
    background-color: multiply-alpha($hovered-card-header-background-color, 1.25);
  }

  div.card div.item div.title div.japanese {
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    position: relative;
    z-index: 2;
  }

  div.card div.item div.title div.shaleian {
    margin: 0px;
    padding: 0px;
    font-family: $gilit-font-family;
    font-size: 24px;
    color: rgba(white, 0.3);
    position: absolute;
    bottom: 5px;
    z-index: 1;
  }

  div.card div.item div.explanation {
    height: calc(100% - #{$card-header-height});
    margin: 0px;
    padding: 15px 25px;
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
    border-radius: 0px 0px $card-border-radius $card-border-radius;
    background-color: $card-background-color;
    box-sizing: border-box;
    transition: background-color 0.2s ease-in-out;
  }

  div.card div.item:hover div.explanation {
    background-color: multiply-alpha($card-background-color, 1.25);
  }

  div.arrow {
    height: 100px;
  }

}


div.introduction {
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  border: 1px transparent solid;
  background: $introduction-background;
  filter: $box-filter;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  div.header {
    width: $main-width;
    height: 65px;
    margin: 100px auto 0px auto;
    padding: 0px;
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 65px;
  }

  div.header div.japanese {
    font-family: $serif-font-family;
    font-size: 52px;
    color: $introduction-header-color;
    letter-spacing: 0.15em;
    position: absolute;
    top: 0px;
  }

  div.header div.shaleian {
    font-family: $gilit-font-family;
    font-size: 40px;
    color: multiply-alpha($introduction-header-color, 0.2);
    position: absolute;
    bottom: 0px;
    z-index: 1;
  }

  div.content {
    margin: 0px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100vh;
    display: flex;
    align-items: center;
  }

  div.content div.explanation {
    margin: 0px;
    margin-left: calc((100% - #{$main-width}) / 2);
    margin-right: 50px;
    padding: 0px;
    flex: 5;
  }

  div.content div.explanation p {
    margin: 15px 0px;
    padding: 0px;
    font-size: 18px;
    line-height: 1.8;
    text-align: justify;
  }

  div.content div.sample {
    margin: 0px;
    padding: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: calc((100% - #{$main-width}) / 2);
    border-radius: $sample-border-radius 0px 0px $sample-border-radius;
    background: $main-background;
    background-attachment: fixed;
    flex: 4;
  }

  div.content div.sample p {
    margin: 15px 0px;
    padding: 0px;
    font-family: $vekos-font-family;
    font-size: 22px;
    color: $sample-color;
    line-height: 1.5;
    text-align: justify;
  }

  div.arrow {
    height: 100px;
  }

}