@charset "utf-8";

@function stripe-gradient($first-color, $second-color, $angle, $space) {
  @return repeating-linear-gradient($angle, $first-color $space, $second-color $space, $second-color $space * 2, $first-color $space * 2, $first-color $space * 3, $second-color $space * 3);
}

@function multiply-alpha($color, $ratio) {
  $new-alpha: alpha($color) * $ratio;
  @return rgba($color, $new-alpha);
}


$primary-hue: 230;
$secondary-hue: 200;
$hovered-hue: 110;

$main-background: stripe-gradient(hsl($primary-hue, 30%, 25%), hsl($primary-hue, 30%, 26%), -45deg, 10px);
$introduction-background: hsla($secondary-hue, 100%, 90%, 0.6);

$card-background-color: rgba(white, 0.4);
$card-header-background-color: hsla($secondary-hue, 100%, 90%, 0.6);
$hovered-card-header-background-color: hsla($hovered-hue, 90%, 90%, 0.6);

$title-color: rgba(white, 0.4);
$caption-color: rgba(white, 0.3);
$introduction-header-color: hsl($primary-hue, 30%, 35%);
$sample-color: rgba(white, 0.6);

$scrollbar-thumb-border-radius: 8px;
$card-border-radius: 10px;
$sample-border-radius: 10px;

$scrollbar-size: 10px;
$tip-size: 20px;
$main-width: 1200px;
$card-header-height: 50px;
$arrow-height: 50px;

$title-filter: drop-shadow(0px 2px 3px rgba($title-color, 0.4));
$box-filter: drop-shadow(0px 4px 6px rgba($card-background-color, 0.4));
$small-box-filter: drop-shadow(0px 2px 3px rgba($card-background-color, 0.4));

$serif-font-family: "Times New Roman", "Times", "IPA P明朝", "IPAex明朝", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
$vekos-font-family: "Vekos Web";
$gilit-font-family: "Gilit Web";
$special-font-family: "Abril Fatface";


@mixin text-size-adjust {
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

@mixin shrink($height) {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: $height;
}

@mixin no-shrink($height) {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: $height;
}


@font-face {
  font-family: $vekos-font-family;
  src: url("../material/font/7.woff") format("woff"), url("../material/font/7.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $gilit-font-family;
  src: url("../material/font/8.woff") format("woff"), url("../material/font/8.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}